.Milebody {
    padding: 25px;
    /* background-image: linear-gradient(to left bottom, #d8ebf4, #b1d1df, #8ab7cb, #609eb6, #2c86a2); */
    width: 960px;
    margin: 25px auto;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 10px 10px 67px 12px rgba(0, 0, 0, 0.46);
}

.txt-area {
    border: none;
    background-color: transparent;
}

/* .set{
    margin: 40px 20px 0px 175px;
} */
.mess{
    color: green;
}