@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;@300;@500;700;800&display=swap');
.dashHead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.dashText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cardi {
    height: 300px;
    overflow: auto;
}

/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgba(51, 141, 183, 0.555);
} */